<H1>Column Combiner</H1>
<h4> This notebook is used to combines the columns title, from, director, and plot to a single column</h4>

In [1]:
import pandas as pd

In [3]:
train_cleaned = pd.read_csv('data/train_cleaned.txt', sep='\t', header=None, names=['title', 'from', 'genre', 'director', 'plot'])

In [4]:
train_cleaned.head()

,title,from,genre,director,plot
0,ela cheppanu,telugu,romance,ramana,sekhar tarun is a graduate from iim and works ...
1,a nightmare on elm street,american,horror,samuel bayer,kris fowles katie cassidy goes to the springwo...
2,american gothic,american,horror,john hough,cynthia is traumatized by the death of her bab...
3,gang,bollywood,crime,mazhar khan,four friends gangu jackie shroff abdul nana pa...
4,intimate relations,british,drama,charles frank,crisis in a middleclass family when the son fa...

In [5]:
train_cleaned['combined_text'] = train_cleaned.apply(
    lambda row: f"Title: {row['title']}. From: {row['from']}. Directed by: {row['director']}. Plot: {row['plot']}", 
    axis=1
)

In [8]:
# drop all old columns and keep only the combined_text and genre columns
train_cleaned = train_cleaned.drop(columns=['title', 'from', 'director', 'plot'])

In [9]:
train_cleaned

        genre                                      combined_text
0     romance  Title: ela cheppanu. From: telugu. Directed by...
1      horror  Title: a nightmare on elm street. From: americ...
2      horror  Title: american gothic. From: american. Direct...
3       crime  Title: gang. From: bollywood. Directed by: maz...
4       drama  Title: intimate relations. From: british. Dire...
...       ...                                                ...
8018    drama  Title: sa 'yo lamang. From: filipino. Directed...
8019    drama  Title: the lemon sisters. From: american. Dire...
8020  romance  Title: dil ne phir yaad kiya. From: bollywood....
8021  romance  Title: rehnaa hai terre dil mein. From: bollyw...
8022   sci-fi  Title: things to come. From: british. Directed...

[8023 rows x 2 columns]

In [10]:
# swap the columns
train_cleaned = train_cleaned[['combined_text', 'genre']]

In [11]:
# save the combined data to a new file
train_cleaned.to_csv('data/train_combined.csv', index=False, header=False)