<h1> Data Cleaning for BERT Model </h1>

In [28]:
import pandas as pd
import re

In [9]:
# read the data from the file and store it in a pandas dataframe
training_data = pd.read_csv('./data/train.txt', sep='\t', header=None, names=['title', 'from', 'genre', 'director', 'plot'])

In [22]:
training_data.head()

,title,from,genre,director,plot
0,Ela Cheppanu,Telugu,romance,Ramana,Sekhar (Tarun) is a graduate from IIM and work...
1,A Nightmare on Elm Street,American,horror,Samuel Bayer,Kris Fowles (Katie Cassidy) goes to the Spring...
2,American Gothic,American,horror,John Hough,Cynthia is traumatized by the death of her bab...
3,Gang,Bollywood,crime,Mazhar Khan,"Four friends, Gangu (Jackie Shroff), Abdul (Na..."
4,Intimate Relations,British,drama,Charles Frank,Crisis in a middle-class family when the son f...

In [11]:
training_data.shape

(8041, 5)

In [14]:
# Find duplicate rows based on all columns
duplicate_rows = training_data[training_data.duplicated()]

# Print the indices of the duplicate rows
print("Indices of duplicate rows based on all columns are:", duplicate_rows.index.tolist(), sep='\n')

Indices of duplicate rows based on all columns are:
[2377, 2776, 4126, 4573, 4714, 4803, 5735, 5769, 5773, 6308, 6456, 6498, 6576, 6618, 7020, 7102, 7426, 7692]

In [18]:
training_data[training_data['director'] == 'Fred Dekker']

,title,from,genre,director,plot
2016,RoboCop 3,American,sci-fi,Fred Dekker,OCP is on the verge of bankruptcy after a seri...
2377,RoboCop 3,American,sci-fi,Fred Dekker,OCP is on the verge of bankruptcy after a seri...

In [20]:
# drop duplicates from the dataframe
training_data_no_duplicates = training_data.drop_duplicates()

In [21]:
training_data_no_duplicates.shape

(8023, 5)

In [23]:
# convert everything to lowercase
training_data_no_duplicates = training_data_no_duplicates.apply(lambda x: x.str.lower())

In [24]:
training_data_no_duplicates.head()

,title,from,genre,director,plot
0,ela cheppanu,telugu,romance,ramana,sekhar (tarun) is a graduate from iim and work...
1,a nightmare on elm street,american,horror,samuel bayer,kris fowles (katie cassidy) goes to the spring...
2,american gothic,american,horror,john hough,cynthia is traumatized by the death of her bab...
3,gang,bollywood,crime,mazhar khan,"four friends, gangu (jackie shroff), abdul (na..."
4,intimate relations,british,drama,charles frank,crisis in a middle-class family when the son f...

In [29]:
# remove URLs, e-mail addresses and special characters

# Define the patterns
url_pattern = re.compile(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')
email_pattern = re.compile(r'[^@]+@[^@]+\.[^@]+')
special_char_pattern = re.compile(r'[^a-zA-Z0-9\s]')

# Apply the patterns to each row of the 'plot' column
training_data_no_duplicates['plot'] = training_data_no_duplicates['plot'].apply(lambda x: special_char_pattern.sub('', email_pattern.sub('', url_pattern.sub('', x))))

In [30]:
# find acent characters in the text and convert them to ASCII characters

In [ ]:
# delete redundant spaces
training_data_no_duplicates['plot'] = training_data_no_duplicates['plot'].apply(lambda x: ' '.join(x.split()))