<h1> Data Cleaning for BERT Model </h1>

In [28]:
import pandas as pd
import re

In [9]:
# read the data from the file and store it in a pandas dataframe
training_data = pd.read_csv('./data/train.txt', sep='\t', header=None, names=['title', 'from', 'genre', 'director', 'plot'])

In [11]:
training_data.shape

(8041, 5)

In [20]:
# drop duplicates from the dataframe
training_data_no_duplicates = training_data.drop_duplicates()

In [21]:
training_data_no_duplicates.shape

(8023, 5)

In [23]:
# convert everything to lowercase
training_data_no_duplicates = training_data_no_duplicates.apply(lambda x: x.str.lower())

In [24]:
training_data_no_duplicates.head()

,title,from,genre,director,plot
0,ela cheppanu,telugu,romance,ramana,sekhar (tarun) is a graduate from iim and work...
1,a nightmare on elm street,american,horror,samuel bayer,kris fowles (katie cassidy) goes to the spring...
2,american gothic,american,horror,john hough,cynthia is traumatized by the death of her bab...
3,gang,bollywood,crime,mazhar khan,"four friends, gangu (jackie shroff), abdul (na..."
4,intimate relations,british,drama,charles frank,crisis in a middle-class family when the son f...

In [29]:
# remove URLs, e-mail addresses and special characters

# Define the patterns
url_pattern = re.compile(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')
email_pattern = re.compile(r'[^@]+@[^@]+\.[^@]+')
special_char_pattern = re.compile(r'[^a-zA-Z0-9\s]')

# Apply the patterns to each row of the 'plot' column
training_data_no_duplicates['plot'] = training_data_no_duplicates['plot'].apply(lambda x: special_char_pattern.sub('', email_pattern.sub('', url_pattern.sub('', x))))

In [ ]:
# delete redundant spaces
training_data_no_duplicates['plot'] = training_data_no_duplicates['plot'].apply(lambda x: ' '.join(x.split()))

In [34]:
training_data_no_duplicates.head()

,title,from,genre,director,plot
0,ela cheppanu,telugu,romance,ramana,sekhar tarun is a graduate from iim and works ...
1,a nightmare on elm street,american,horror,samuel bayer,kris fowles katie cassidy goes to the springwo...
2,american gothic,american,horror,john hough,cynthia is traumatized by the death of her bab...
3,gang,bollywood,crime,mazhar khan,four friends gangu jackie shroff abdul nana pa...
4,intimate relations,british,drama,charles frank,crisis in a middleclass family when the son fa...

In [38]:
# save the cleaned data to a new file
training_data_no_duplicates.to_csv('./data/train_cleaned.txt', sep='\t', index=False, header=False)