<h1> Data Cleaning for BERT Model </h1>

In [4]:
import pandas as pd
import re

In [21]:
# read the data from the file and store it in a pandas dataframe
training_data = pd.read_csv('./data/train.txt', sep='\t', header=None, names=['title', 'from', 'genre', 'director', 'plot'])

In [27]:
training_data[training_data["title"] == "The Lightkeepers"]

,title,from,genre,director,plot
1608,The Lightkeepers,American,comedy,Daniel Adams,"The film is set on Cape Cod, Massachusetts, in..."

In [11]:
training_data.shape

(8041, 5)

In [13]:
# ONLY for test data
# read the data from the file and store it in a pandas dataframe
test_data = pd.read_csv('./data/test_no_labels.txt', sep='\t', header=None, names=['title', 'from', 'director', 'plot'])

In [6]:
test_data.shape

(400, 4)

In [14]:
# ONLY for test data
training_data_no_duplicates = test_data

In [20]:
# drop duplicates from the dataframe
training_data_no_duplicates = training_data.drop_duplicates()

In [21]:
training_data_no_duplicates.shape

(8023, 5)

In [15]:
# convert everything to lowercase
training_data_no_duplicates = training_data_no_duplicates.apply(lambda x: x.str.lower())

In [16]:
training_data_no_duplicates.head()

,title,from,director,plot
0,bava nachadu,telugu,ks ravikumar,ajay (nagarjuna akkineni) is an adman (directo...
1,quick,south_korean,unknown,"seoul, 2004. a group of bikers are joy-riding ..."
2,doraemon: nobita's great battle of the mermaid...,japanese,unknown,"the film opens with a sunken ship, in which a ..."
3,little school mouse,american,hanna-barbera,jerry decides to school tuffy in the basics of...
4,the little damozel,british,herbert wilcox,gambler recky poole (james rennie) accepts a b...

In [17]:
# remove URLs, e-mail addresses and special characters

# Define the patterns
url_pattern = re.compile(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')
email_pattern = re.compile(r'[^@]+@[^@]+\.[^@]+')
special_char_pattern = re.compile(r'[^a-zA-Z0-9\s]')

# Apply the patterns to each row of the 'plot' column
training_data_no_duplicates['plot'] = training_data_no_duplicates['plot'].apply(lambda x: special_char_pattern.sub('', email_pattern.sub('', url_pattern.sub('', x))))

In [18]:
# delete redundant spaces
training_data_no_duplicates['plot'] = training_data_no_duplicates['plot'].apply(lambda x: ' '.join(x.split()))

In [19]:
training_data_no_duplicates.head()

,title,from,director,plot
0,bava nachadu,telugu,ks ravikumar,ajay nagarjuna akkineni is an adman director a...
1,quick,south_korean,unknown,seoul 2004 a group of bikers are joyriding thr...
2,doraemon: nobita's great battle of the mermaid...,japanese,unknown,the film opens with a sunken ship in which a s...
3,little school mouse,american,hanna-barbera,jerry decides to school tuffy in the basics of...
4,the little damozel,british,herbert wilcox,gambler recky poole james rennie accepts a bet...

In [11]:
training_data_no_duplicates.shape

(400, 4)

In [20]:
# save the cleaned data to a new file
training_data_no_duplicates.to_csv('./data/test_no_labels_cleaned.txt', sep='\t', index=False, header=False)